name = "graffiti"
compatibility_date = "2025-10-06"
main = "worker/src/index.ts"

[assets]
directory = "web/dist"
binding = "ASSETS"
run_worker_first = ["/api/*"]

[[d1_databases]]
binding = "DB"
database_name = "graffiti-db"
database_id = "daa06266-f640-4bd6-b243-cbc71e454cd0"

[observability]
enabled = true
